@font-face { 
   font-family: 'SF Pro KR thin'; 
   src: url(../font/SFProKR_thin.woff.ttf) format('ttf');
   }

   @font-face { 
      font-family: 'SF Pro KR'; 
      src: url(../font/SF-Font-Pro.dmg) format('dmg');
      } 


/*  color */

.c_29 {color: rgb(29,29,31);}
.c_blue {color: rgb(0, 102, 204) ;}
.c_134 {color: rgb(134, 134, 139);}